.form-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container form{
    display: flex;
    flex-direction: column;
      
}
.form-container form label{
    margin-bottom: .5rem;
}
.form-container form button{
    margin-top: .5rem
}
.inicio{      
    color: gray;
    text-decoration: none;
    font-size: .6rem;
}